body {
	margin: 0;
	background-color: #056679;
	font-family: sans-serif;
}
h1 {
	margin: 0px;
	margin-bottom: 15px;
	color: #128b90;
}
.todo-container {
	width: 350px;
	margin: auto;
	margin-top: 30px;
	text-align: center;
}
.input-section {
	background-color: #025869;
	padding: 18px;
	border-radius: 10px;
	box-shadow: 0 5px 7px #2b232385;
}

input::placeholder {
	color: #1c8b90;
}

.input-section input {
	background-color: #025869;
	border-radius: 5px;
	border: solid #227f94b3;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	color: #1c8b90;
}
ul {
	text-align: left;
	padding: 0px;
}
ul li {
	display: flex;
	list-style: none;
	color: #1c8b90;
	background-color: #025869;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 8px;
	box-shadow: 0 4px 6px #040404ad;
}
i {
	text-align: right;
	flex: 1;
	cursor: pointer;
}
